# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
/App/bin/Debug/net6.0/.apikey
/.idea/.idea.ControlHomework/.idea/.gitignore
/App/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/CsvSerialization/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Data/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/TelegramInteraction/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/App/obj/Debug/net6.0/App.AssemblyInfo.cs
/App/obj/Debug/net6.0/App.AssemblyInfoInputs.cache
/App/obj/Debug/net6.0/App.assets.cache
/App/obj/Debug/net6.0/App.csproj.AssemblyReference.cache
/App/obj/Debug/net6.0/App.csproj.CopyComplete
/App/obj/Debug/net6.0/App.csproj.CoreCompileInputs.cache
/App/App.csproj.DotSettings
/App/obj/Debug/net6.0/App.csproj.FileListAbsolute.txt
/App/obj/App.csproj.nuget.dgspec.json
/App/obj/App.csproj.nuget.g.props
/App/obj/App.csproj.nuget.g.targets
/App/bin/Debug/net6.0/App.deps.json
/App/bin/Debug/net6.0/App.dll
/App/obj/Debug/net6.0/ref/App.dll
/App/obj/Debug/net6.0/refint/App.dll
/App/obj/Debug/net6.0/App.dll
/App/bin/Debug/net6.0/App.exe
/App/obj/Debug/net6.0/App.GeneratedMSBuildEditorConfig.editorconfig
/App/obj/Debug/net6.0/App.genruntimeconfig.cache
/App/obj/Debug/net6.0/App.GlobalUsings.g.cs
/App/bin/Debug/net6.0/App.pdb
/App/obj/Debug/net6.0/App.pdb
/App/bin/Debug/net6.0/App.runtimeconfig.json
/App/obj/Debug/net6.0/apphost.exe
/App/obj/Debug/net6.0/ControlHomework.App.AssemblyInfo.cs
/App/obj/Debug/net6.0/ControlHomework.App.AssemblyInfoInputs.cache
/App/obj/Debug/net6.0/ControlHomework.App.assets.cache
/App/obj/Debug/net6.0/ControlHomework.App.csproj.AssemblyReference.cache
/App/obj/ControlHomework.App.csproj.nuget.dgspec.json
/App/obj/ControlHomework.App.csproj.nuget.g.props
/App/obj/ControlHomework.App.csproj.nuget.g.targets
/App/obj/Debug/net6.0/ControlHomework.App.GeneratedMSBuildEditorConfig.editorconfig
/App/obj/Debug/net6.0/ControlHomework.App.GlobalUsings.g.cs
/CsvSerialization/obj/Debug/net6.0/CsvSerialization.AssemblyInfo.cs
/CsvSerialization/obj/Debug/net6.0/CsvSerialization.AssemblyInfoInputs.cache
/CsvSerialization/obj/Debug/net6.0/CsvSerialization.assets.cache
/CsvSerialization/obj/Debug/net6.0/CsvSerialization.csproj.AssemblyReference.cache
/CsvSerialization/obj/Debug/net6.0/CsvSerialization.csproj.CoreCompileInputs.cache
/CsvSerialization/CsvSerialization.csproj.DotSettings
/CsvSerialization/obj/Debug/net6.0/CsvSerialization.csproj.FileListAbsolute.txt
/CsvSerialization/obj/CsvSerialization.csproj.nuget.dgspec.json
/CsvSerialization/obj/CsvSerialization.csproj.nuget.g.props
/CsvSerialization/obj/CsvSerialization.csproj.nuget.g.targets
/CsvSerialization/bin/Debug/net6.0/CsvSerialization.deps.json
/App/bin/Debug/net6.0/CsvSerialization.dll
/CsvSerialization/bin/Debug/net6.0/CsvSerialization.dll
/CsvSerialization/obj/Debug/net6.0/ref/CsvSerialization.dll
/CsvSerialization/obj/Debug/net6.0/refint/CsvSerialization.dll
/CsvSerialization/obj/Debug/net6.0/CsvSerialization.dll
/Data/bin/Debug/net6.0/CsvSerialization.dll
/TelegramInteraction/bin/Debug/net6.0/CsvSerialization.dll
/CsvSerialization/obj/Debug/net6.0/CsvSerialization.GeneratedMSBuildEditorConfig.editorconfig
/CsvSerialization/obj/Debug/net6.0/CsvSerialization.GlobalUsings.g.cs
/App/bin/Debug/net6.0/CsvSerialization.pdb
/CsvSerialization/bin/Debug/net6.0/CsvSerialization.pdb
/CsvSerialization/obj/Debug/net6.0/CsvSerialization.pdb
/Data/bin/Debug/net6.0/CsvSerialization.pdb
/TelegramInteraction/bin/Debug/net6.0/CsvSerialization.pdb
/Data/obj/Debug/net6.0/Data.AssemblyInfo.cs
/Data/obj/Debug/net6.0/Data.AssemblyInfoInputs.cache
/Data/obj/Debug/net6.0/Data.assets.cache
/Data/obj/Debug/net6.0/Data.csproj.AssemblyReference.cache
/Data/obj/Debug/net6.0/Data.csproj.CopyComplete
/Data/obj/Debug/net6.0/Data.csproj.CoreCompileInputs.cache
/Data/Data.csproj.DotSettings
/Data/obj/Debug/net6.0/Data.csproj.FileListAbsolute.txt
/Data/obj/Data.csproj.nuget.dgspec.json
/Data/obj/Data.csproj.nuget.g.props
/Data/obj/Data.csproj.nuget.g.targets
/Data/bin/Debug/net6.0/Data.deps.json
/App/bin/Debug/net6.0/Data.dll
/Data/bin/Debug/net6.0/Data.dll
/Data/obj/Debug/net6.0/ref/Data.dll
/Data/obj/Debug/net6.0/refint/Data.dll
/Data/obj/Debug/net6.0/Data.dll
/TelegramInteraction/bin/Debug/net6.0/Data.dll
/Data/obj/Debug/net6.0/Data.GeneratedMSBuildEditorConfig.editorconfig
/Data/obj/Debug/net6.0/Data.GlobalUsings.g.cs
/App/bin/Debug/net6.0/Data.pdb
/Data/bin/Debug/net6.0/Data.pdb
/Data/obj/Debug/net6.0/Data.pdb
/TelegramInteraction/bin/Debug/net6.0/Data.pdb
/.idea/.idea.ControlHomework/.idea/encodings.xml
/.idea/.idea.ControlHomework/.idea/indexLayout.xml
/App/var/logging_session_3_26_2024_4_08_45_PM
/App/var/logging_session_3_26_2024_4_09_47_PM
/App/var/logging_session_3_26_2024_4_11_02_PM
/App/bin/Debug/net6.0/Newtonsoft.Json.dll
/App/obj/project.assets.json
/CsvSerialization/obj/project.assets.json
/Data/obj/project.assets.json
/TelegramInteraction/obj/project.assets.json
/App/obj/project.nuget.cache
/CsvSerialization/obj/project.nuget.cache
/Data/obj/project.nuget.cache
/TelegramInteraction/obj/project.nuget.cache
/App/obj/project.packagespec.json
/CsvSerialization/obj/project.packagespec.json
/Data/obj/project.packagespec.json
/TelegramInteraction/obj/project.packagespec.json
/.idea/.idea.ControlHomework/.idea/inspectionProfiles/Project_Default.xml
/App/obj/rider.project.model.nuget.info
/CsvSerialization/obj/rider.project.model.nuget.info
/Data/obj/rider.project.model.nuget.info
/TelegramInteraction/obj/rider.project.model.nuget.info
/App/obj/rider.project.restore.info
/CsvSerialization/obj/rider.project.restore.info
/Data/obj/rider.project.restore.info
/TelegramInteraction/obj/rider.project.restore.info
/App/bin/Debug/net6.0/Telegram.Bot.dll
/TelegramInteraction/obj/Debug/net6.0/TelegramInteraction.AssemblyInfo.cs
/TelegramInteraction/obj/Debug/net6.0/TelegramInteraction.AssemblyInfoInputs.cache
/TelegramInteraction/obj/Debug/net6.0/TelegramInteraction.assets.cache
/TelegramInteraction/obj/Debug/net6.0/TelegramInteraction.csproj.AssemblyReference.cache
/TelegramInteraction/obj/Debug/net6.0/TelegramInteraction.csproj.CopyComplete
/TelegramInteraction/obj/Debug/net6.0/TelegramInteraction.csproj.CoreCompileInputs.cache
/TelegramInteraction/TelegramInteraction.csproj.DotSettings
/TelegramInteraction/obj/Debug/net6.0/TelegramInteraction.csproj.FileListAbsolute.txt
/TelegramInteraction/obj/TelegramInteraction.csproj.nuget.dgspec.json
/TelegramInteraction/obj/TelegramInteraction.csproj.nuget.g.props
/TelegramInteraction/obj/TelegramInteraction.csproj.nuget.g.targets
/TelegramInteraction/bin/Debug/net6.0/TelegramInteraction.deps.json
/App/bin/Debug/net6.0/TelegramInteraction.dll
/TelegramInteraction/bin/Debug/net6.0/TelegramInteraction.dll
/TelegramInteraction/obj/Debug/net6.0/ref/TelegramInteraction.dll
/TelegramInteraction/obj/Debug/net6.0/refint/TelegramInteraction.dll
/TelegramInteraction/obj/Debug/net6.0/TelegramInteraction.dll
/TelegramInteraction/obj/Debug/net6.0/TelegramInteraction.GeneratedMSBuildEditorConfig.editorconfig
/TelegramInteraction/obj/Debug/net6.0/TelegramInteraction.GlobalUsings.g.cs
/App/bin/Debug/net6.0/TelegramInteraction.pdb
/TelegramInteraction/bin/Debug/net6.0/TelegramInteraction.pdb
/TelegramInteraction/obj/Debug/net6.0/TelegramInteraction.pdb
/App/bin/Debug/net6.0/TestData/wifi-library.csv
